{% extends "base.html" %}
{% load static %}

{% block title %}
Bigbasket Shopping Payment success
{% endblock %}

{% block page_content %}

<div class="logy">
  <h1 class="title">Your payment was successful</h1>
  <div class="icon"><i class="bi bi-emoji-heart-eyes-fill"></i></div>
  <p class="title2">Your payment has been processed successfully.</p>
</div>
<div style="margin-bottom: 70px;"> </div>

<style>
  .title{
    text-align: center;
    font-family: 'Lexend', sans-serif,"Hiragino Kaku Gothic Pro", "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-weight: 300;
    margin-top:100px;
  }
  .title2{
    text-align: center;
    font-family: 'Lexend', sans-serif,"Hiragino Kaku Gothic Pro", "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-weight: 300;
    margin-top:20px;
  }

  .icon{
    text-align: center;
    margin-top:50px;
    font-size: 70px;
    color:#01C3CF;
  }
  .logy{
    height: 400px;
    width: 800px;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 40px;
    padding:10px;
    font-size: 12px;
    background-color: #fff;
    border:1px solid #01C3CF;
    font-family: 'Lexend', sans-serif,"Hiragino Kaku Gothic Pro", "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    }

</style>


{% endblock %}