<form action="{% url 'search' %}" method="get" id="search"  class="my-form">
    {% csrf_token %}
    <input type="hidden" name="page" value="{{ products.number }}">
    {% csrf_token %}
    <div class="table">{{ form.productName }}
        <button class="btn my-2 my-sm-0" type="submitt" style="background:none; color:#06283D;right: 0; top: 0; position:absolute;" ><i class="bi bi-search-heart"></i></button>
    </div>
</form>
<style>
    .footer_black {

    height:60px;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 13px;
    color: #fff;
    background-color: #444;
    font-weight: 200;
    }

    .good{
    line-height: 60px;

    }

    .footer_black p {
    margin: 0;
    width: 100%;
    }

    .my-form .table input[type="button"] {
    border:1px solid #e0e1e2;
    width:80px;
    background-color: #06283D;
    border-radius: 0px;
    height: 30px;
    color:#ffffff;
    font-size: 12px;
    margin-top: 10px;
    }

    .my-form .table1 lable{
    font-size: 10px;
    }

    input:not(:focus)::placeholder {
        color: #999;
        font-style: italic;
    }

    .submmitt{
    border:1px solid #47B5FF;
    width:890px;
    background-color: #47B5FF;
    border-radius: 0px;
    height: 45px;
    color:#ffffff;
    margin-top:15px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Lexend', sans-serif,"Hiragino Kaku Gothic Pro", "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-weight: 300;
}

</style>