{% extends "base.html" %}
{% load static %}

{% block title %}
Order List
{% endblock %}

{% block page_content %}
<h2 class="title">Order List</h2>

<div class="table_c1">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order time</th>
                <th scope="col">Email</th>
                <th scope="col">Payment Status</th>
            </tr>
        </thead>

        <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.created_date}}</td>
                <td>{{order.email}}</td>
                <td>{{order.paid}}</td>
            </tr>
            {% endfor %}
            {% else %}
        </tbody>
    </table>

</div>
<div>
    <h2 class="title">You don't have any orders yet.</h2>
    {% endif %}
</div>
<style>
    .title {
        text-align: center;
        font-family: 'Lexend', sans-serif,"Hiragino Kaku Gothic Pro", "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
        font-weight: 300;
        margin-top:70px;
    }

    .block {
        margin-bottom:200px;
    }

    .table_c1 {
    font-family: 'Lexend', sans-serif,'Hiragino Kaku Gothic Pro', 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif;
    }

</style>
{% block footer %}
{% endblock %}
{% endblock %}