<div>

</div>
{% load static %}
<div class="wow">
  <div class="row">
    <div class="col-6 col-md-4" style="font-family: 'Lexend', sans-serif,'Hiragino Kaku Gothic Pro', 'Segoe UI', 'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic', Verdana, Meiryo, sans-serif; font-weight: 300;color: #47B5FF; font-size: 13px;"><i class="bi bi-box2-heart"></i> Product Count: {{ products.paginator.count }}</div>

    <div class="col-md-8 pagination">
      <span class="step-links">
    {% if products.has_previous %}
      <form id="form-page-1" action="" method="get" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="productName" value="{{ form.productName.value }}">
        <input type="hidden" name="category" value="{{ form.category.value }}">
        <input type="hidden" name="type" value="{{ form.type.value }}">
        <input type="hidden" name="brand" value="{{ form.brand.value }}">
        <input type="hidden" name="sort_by" value="{{ form.sort_by.value }}">
        <a href="#" onclick="document.getElementById('form-page-1').submit(); return false;">&laquo; first</a>
      </form>
      <form id="form-page-prev" action="" method="get" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="page" value="{{ products.previous_page_number }}">
        <input type="hidden" name="productName" value="{{ form.productName.value }}">
        <input type="hidden" name="category" value="{{ form.category.value }}">
        <input type="hidden" name="type" value="{{ form.type.value }}">
        <input type="hidden" name="brand" value="{{ form.brand.value }}">
        <input type="hidden" name="sort_by" value="{{ form.sort_by.value }}">
        <a href="#" onclick="document.getElementById('form-page-prev').submit(); return false;">previous</a>
      </form>
    {% endif %}


    <span class="current-page">
      Page {{ products.number }} of {{ products.paginator.num_pages }}.
    </span>

    {% if products.has_next %}
      <form id="form-page-next" action="" method="get" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="page" value="{{ products.next_page_number }}">
        <input type="hidden" name="productName" value="{{ form.productName.value }}">
        <input type="hidden" name="category" value="{{ form.category.value }}">
        <input type="hidden" name="type" value="{{ form.type.value }}">
        <input type="hidden" name="brand" value="{{ form.brand.value }}">
        <input type="hidden" name="sort_by" value="{{ form.sort_by.value }}">
        <a href="#" onclick="document.getElementById('form-page-next').submit(); return false;">next</a>
      </form>
      <form id="form-page-last" action="" method="get" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="page" value="{{ products.paginator.num_pages }}">
        <input type="hidden" name="productName" value="{{ form.productName.value }}">
        <input type="hidden" name="category" value="{{ form.category.value }}">
        <input type="hidden" name="type" value="{{ form.type.value }}">
        <input type="hidden" name="brand" value="{{ form.brand.value }}">
        <input type="hidden" name="sort_by" value="{{ form.sort_by.value }}">
        <a href="#" onclick="document.getElementById('form-page-last').submit(); return false;">last &raquo;</a>
      </form>
      {% endif %}
    </span>

    </div>
  </div>


    <table>
        <div class="image-grid">
            {% for product in products %}
              <div class="image-box">
                <!-- {% if product.image %}
                  <img src="{{ product.image.url }}">

                {% else %}
                  <img src="{% static '11.png' %}">
                {% endif %} -->

                <img src="{{ product.image.url }}" alt="There are no pictures for this product">
                <div class="text">

                  <h7><b>£{{ product.price }}</b></h7>
                  <a href="{% url 'details' productNo=product.productNo %}" style="text-decoration: none;">
                  <p>
                    <b class="brand"> &nbsp{{ product.brand }}&nbsp</b>

                    <div class="text" style="font-size: 13px;"><b>{{ product.productName }}</b></div>
                    <div>
                      <p class="text3">
                        {{ product.types.id }} | {{ product.category }}
                      </p>
                    </div>
                  </p>
                  </a>
                  <p class="text2">
                    <b>rating : {{ product.rating }}</b>
                  </p>

                </div>
              </div>
            {% endfor %}
          </div>
        <!-- <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">ProductName</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Brand</th>
                <th scope="col">Rating</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.productNo}}</td>
                <td><a style="text-decoration: none;" href="{% url 'details' productNo=product.productNo %}">{{product.productName}}</a></td>
                <td>{{product.category}}</td>
                <td>{{product.types}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.rating}}</td>
                <td>{{product.price}}</td>
            </tr>
            {% endfor %}
        </tbody> -->
    </table>
</div>




<div class="block">

</div>

{% block footer %}
{% endblock %}
<style>
  .wow{
    padding-left: 20px;
    padding-top: 50px;
    background-color: #fff;
  }
  .footer_black {
    height:60px;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 13px;
    color: #fff;
    background-color: #444;
    font-weight: 200;
  }

  .good{
      line-height: 60px;
  }

  .footer_black p {
      margin: 0;
      width: 100%;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
  }

  .image-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 350px;

  }

  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }

  .image-box .text .text2{
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px;
  }

  .image-box  .text3{
    font-size: 9px;
    color:#858585;
    padding:0px;
  }

  .text p {
    display: block;
    margin: 0;
    color: #06283D;
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
    text-decoration: none;
  }

  .text h7 {
    display: block;
  }

  .brand {
    background-color: #DFF6FF;
    color: #000000;
    font-weight: 250;
  }

  .image-box:hover img {
    transform: scale(1.1);
  }

  .image-box:hover h3 {
    opacity: 1;
  }

  .pagination {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }

  .step-links {
    padding: 0px;
    float: none;
  }

  .step-links a {
    display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: #ffffff;
    color: #47B5FF;
    border-radius: 5px;
    border-color: #47B5FF;
  }

  .step-links a:hover {
    background-color: #47B5FF;
    color: #ffffff;
    text-decoration: none;
  }

  .current-page {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: #47B5FF;
    color: #fff;
    border-radius: 5px;
  }
</style>